[Unit]
Description=Post installation service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/post_installation.sh

[Install]
WantedBy=multi-user.target